/** @format */

.dashboard-container {
  background-color: #282c34;
  color: whitesmoke;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.5rem;
}

.dashboard-main-content {
  display: flex;
}

.dashboard-link-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 20%;
  min-height: 100vh;
}

.dashboard-components {
  width: 75%;
  padding-left: 50px;
  padding-top: 50px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.nav-link {
  text-decoration: none;
  color: whitesmoke;
  padding: 20px 0;
  font-size: 1.2rem;
}

.nav-link:hover {
  font-size: 1.3rem;
  font-weight: 500;
}

.nav-link:visited {
  color: whitesmoke;
}
